/.#.emacs
.emacs.d/auto-save-list
.emacs.d/project-persist
.emacs.d/places
.emacs.d/ac-comphist.dat
.emacs.d/ede-projects.el
.emacs.d/places
.emacs.d/.graphene-geometry
.emacs.d/projectile-bookmarks.eld
