;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Wed Dec 25 08:53:49 2013
;; Desktop file format version 206
;; Emacs version 24.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("/Users/sm52286/.emacs" "/Users/sm52286/Projects/Systemic2/src/bootstrap.c"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/Users/sm52286/Projects/dotemacs/.emacs"
  ".emacs"
  'emacs-lisp-mode
  '(visual-line-mode global-visual-line-mode auto-complete-mode global-auto-revert-mode project-persist-mode linum-mode smartparens-mode flycheck-mode)
  1114
  '(1114 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (truncate-lines)))

(desktop-create-buffer 206
  "/Users/sm52286/Projects/Systemic2/scripts/quadratic.R"
  "quadratic.R"
  'fundamental-mode
  '(visual-line-mode global-visual-line-mode global-auto-revert-mode project-persist-mode)
  1137
  '(1137 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (truncate-lines)))

(desktop-create-buffer 206
  "/Users/sm52286/Projects/Systemic2/src/javascript.c"
  "javascript.c"
  'c-mode
  '(abbrev-mode visual-line-mode global-visual-line-mode auto-complete-mode global-auto-revert-mode project-persist-mode linum-mode smartparens-mode flycheck-mode)
  2355
  '(238 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (truncate-lines)))

(desktop-create-buffer 206
  "/Users/sm52286/Projects/Systemic2/src/bootstrap.c"
  "bootstrap.c"
  'c-mode
  '(abbrev-mode visual-line-mode global-visual-line-mode auto-complete-mode global-auto-revert-mode project-persist-mode linum-mode smartparens-mode flycheck-mode)
  92
  '(315 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (truncate-lines)))

