;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Wed Dec 25 08:03:26 2013
;; Desktop file format version 206
;; Emacs version 24.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("ess-" "ess" "tab"))
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("/Users/sm52286/Desktop/naive.R" "/Users/sm52286/.bash_profile" "/Users/sm52286/Projects/Notes/.gitignore" "/Users/sm52286/.emacs" "/Users/sm52286/Projects/CollabAC/Flow/Flow.js" "/Users/sm52286/.emacs" "/Users/sm52286/Projects/CollabAC/Flow/Flow.css"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/Users/sm52286/Desktop/naive.R"
  "naive.R"
  'fundamental-mode
  '(visual-line-mode global-visual-line-mode global-auto-revert-mode project-persist-mode)
  114
  '(114 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (truncate-lines)))

(desktop-create-buffer 206
  nil
  "*info*"
  'Info-mode
  '(visual-line-mode global-visual-line-mode global-auto-revert-mode project-persist-mode)
  1352704
  '(1349774 nil)
  t
  '("/Applications/Emacs.app/Contents/Resources/info/emacs" "Invoking emacsclient" ((history ("/Applications/Emacs.app/Contents/Resources/info/emacs" "Emacs Server" 1351242) ("/Applications/Emacs.app/Contents/Resources/info/emacs" "Top" 1222))))
  '((tab-width . 8) (buffer-file-coding-system . iso-latin-1-unix) (case-fold-search . t) (truncate-lines)))

(desktop-create-buffer 206
  "/Users/sm52286/Projects/dotemacs/.emacs"
  ".emacs"
  'emacs-lisp-mode
  '(visual-line-mode global-visual-line-mode auto-complete-mode global-auto-revert-mode project-persist-mode linum-mode smartparens-mode flycheck-mode)
  2245
  '(1377 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (truncate-lines)))

(desktop-create-buffer 206
  "/Users/sm52286/Projects/CollabAC/Flow/Flow.js"
  "Flow.js"
  'js-mode
  '(visual-line-mode global-visual-line-mode auto-complete-mode global-auto-revert-mode project-persist-mode linum-mode smartparens-mode flycheck-mode)
  372
  '(2882 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (truncate-lines)))

(desktop-create-buffer 206
  "/Users/sm52286/Projects/CollabAC/Flow/Flow.html"
  "Flow.html"
  'web-mode
  '(visual-line-mode global-visual-line-mode auto-complete-mode global-auto-revert-mode project-persist-mode linum-mode smartparens-mode flycheck-mode)
  929
  '(1910 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (truncate-lines)))

(desktop-create-buffer 206
  "/Users/sm52286/Projects/CollabAC/Flow/Notes.org"
  "Notes.org"
  'org-mode
  '(visual-line-mode global-visual-line-mode global-auto-revert-mode project-persist-mode)
  153
  '(153 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (truncate-lines)))

(desktop-create-buffer 206
  "/Users/sm52286/Projects/CollabAC/Flow/Flow.css"
  "Flow.css"
  'css-mode
  '(visual-line-mode global-visual-line-mode auto-complete-mode global-auto-revert-mode project-persist-mode linum-mode smartparens-mode flycheck-mode)
  88
  '(271 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (truncate-lines)))

(desktop-create-buffer 206
  "/Users/sm52286/Projects/CollabAC/Flow/I-485.graphml"
  "I-485.graphml"
  'nxml-mode
  '(visual-line-mode global-visual-line-mode global-auto-revert-mode project-persist-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix) (truncate-lines)))

(desktop-create-buffer 206
  nil
  " *info-browse-tmp*"
  'Info-mode
  '(visual-line-mode global-visual-line-mode global-auto-revert-mode project-persist-mode)
  7096
  '(nil nil)
  t
  '("dir" "Top" nil)
  '((tab-width . 8) (case-fold-search . t) (truncate-lines)))

