;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Tue Dec 31 17:22:10 2013
;; Desktop file format version 206
;; Emacs version 24.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list '("/Users/sm52286/Projects/CollabAC/TAGS"))
(setq search-ring '("<edge" "simp" "ac-js" "projectile" "global" "ess-" "ess" "tab"))
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("/Users/sm52286/.emacs.d/" "/Users/sm52286/Desktop/test.graphml" "/Users/sm52286/Projects/dotemacs/.emacs.d/elpa/pretty-symbols-20131125.26/pretty-symbols.el" "/Users/sm52286/.emacs.d/init.el" "/Users/sm52286/.emacs.d/pretty-symbols.el" "/Users/sm52286/Projects/Plans/Emacs.org" "/Users/sm52286/Projects/Plans/" "/Users/sm52286/.emacs.d/init.el" "/Users/sm52286/.emacs.d/elpa/graphene-20131203.1152/graphene-speedbar.elc" "/Users/sm52286/Projects/CollabAC/Flow/Flow.js" "/Users/sm52286/Projects/dotemacs/.emacs.d/elpa/multi-term-20130108.2305/multi-term-pkg.el" "/Users/sm52286/.emacs.d/init.el" "/Users/sm52286/Desktop/naive.R" "/Users/sm52286/.bash_profile" "/Users/sm52286/Projects/Notes/.gitignore" "/Users/sm52286/.emacs" "/Users/sm52286/Projects/CollabAC/Flow/Flow.js" "/Users/sm52286/.emacs" "/Users/sm52286/Projects/CollabAC/Flow/Flow.css"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/Users/sm52286/Projects/dotemacs/.emacs.d/pretty-symbols.el"
  "pretty-symbols.el"
  'emacs-lisp-mode
  '(visual-line-mode global-visual-line-mode global-auto-revert-mode project-persist-mode auto-complete-mode undo-tree-mode anzu-mode yas-minor-mode projectile-mode linum-mode smartparens-mode flycheck-mode)
  3683
  '(3409 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix) (truncate-lines)))

(desktop-create-buffer 206
  "/Users/sm52286/Projects/CollabAC/Flow/utils.js"
  "utils.js"
  'js2-mode
  '(visual-line-mode global-visual-line-mode global-auto-revert-mode project-persist-mode auto-complete-mode undo-tree-mode anzu-mode yas-minor-mode projectile-mode linum-mode smartparens-mode flycheck-mode js2-imenu-extras-mode pretty-symbols-mode)
  374
  '(374 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (truncate-lines)))

(desktop-create-buffer 206
  nil
  ".emacs.d"
  'dired-mode
  '(visual-line-mode global-visual-line-mode global-auto-revert-mode project-persist-mode anzu-mode yas-minor-mode projectile-mode)
  1615
  '(1615 nil)
  t
  '("/Users/sm52286/.emacs.d/")
  '((truncate-lines)))

(desktop-create-buffer 206
  "/Users/sm52286/Desktop/test.graphml"
  "test.graphml"
  'nxml-mode
  '(visual-line-mode global-visual-line-mode global-auto-revert-mode project-persist-mode undo-tree-mode anzu-mode yas-minor-mode projectile-mode)
  482
  '(467 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix) (truncate-lines)))

(desktop-create-buffer 206
  nil
  "*info*"
  'Info-mode
  '(visual-line-mode global-visual-line-mode global-auto-revert-mode project-persist-mode undo-tree-mode anzu-mode yas-minor-mode projectile-mode)
  1351546
  '(1 nil)
  t
  '("/Applications/Emacs.app/Contents/Resources/info/emacs" "Invoking emacsclient" ((history ("/Applications/Emacs.app/Contents/Resources/info/emacs" "Emacs Server" 1351242) ("/Applications/Emacs.app/Contents/Resources/info/emacs" "Top" 1222))))
  '((tab-width . 8) (buffer-file-coding-system . iso-latin-1-unix) (case-fold-search . t) (truncate-lines)))

(desktop-create-buffer 206
  "/Users/sm52286/Projects/CollabAC/Flow/Flow.css"
  "Flow.css"
  'css-mode
  '(visual-line-mode global-visual-line-mode global-auto-revert-mode project-persist-mode auto-complete-mode undo-tree-mode anzu-mode yas-minor-mode projectile-mode linum-mode smartparens-mode flycheck-mode)
  88
  '(271 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (truncate-lines)))

(desktop-create-buffer 206
  nil
  " *info-browse-tmp*"
  'Info-mode
  '(visual-line-mode global-visual-line-mode global-auto-revert-mode project-persist-mode undo-tree-mode anzu-mode yas-minor-mode projectile-mode)
  7096
  '(nil nil)
  t
  '("dir" "Top" nil)
  '((tab-width . 8) (case-fold-search . t) (truncate-lines)))

(desktop-create-buffer 206
  nil
  "graphene-20131203.1152"
  'dired-mode
  '(visual-line-mode global-visual-line-mode global-auto-revert-mode project-persist-mode anzu-mode yas-minor-mode projectile-mode)
  1793
  '(1793 nil)
  t
  '("/Users/sm52286/Projects/dotemacs/.emacs.d/elpa/graphene-20131203.1152/")
  '((truncate-lines)))

(desktop-create-buffer 206
  "/Users/sm52286/Projects/dotemacs/README.md"
  "README.md"
  'gfm-mode
  '(auto-fill-mode visual-line-mode global-visual-line-mode global-auto-revert-mode project-persist-mode undo-tree-mode anzu-mode yas-minor-mode projectile-mode)
  95
  '(157 nil)
  nil
  nil
  '((tab-width . 4) (buffer-file-coding-system . undecided-unix) (truncate-lines)))

